<mat-toolbar class="app-title">Pré Cadastro</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" *ngIf="preCadastro" >
    <form autocomplete="off" novalidate [formGroup]="preCadastro" (ngSubmit)="submit()" (ngReset)="reiniciarForm()">
      <mat-card-content>
        <fpt-input-text
          titulo="Nome *"
          controlName="nome"
          [formGroup]="preCadastro"
          >
        </fpt-input-text>
        <fpt-input-text
          titulo="Sobrenome"
          controlName="sobrenome"
          [formGroup]="preCadastro"
          >
        </fpt-input-text>
        <fpt-input-date
          titulo="Data Nascimento *"
          controlName="dataNascimento"
          [formGroup]="preCadastro"
          >
        </fpt-input-date>
        <fpt-input-select
          titulo="Sexo *"
          [opcoes]="sexo"
          controlName="sexo"
          [formGroup]="preCadastro"
          >
        </fpt-input-select>
        <fpt-input-text
          titulo="Email *" 
          controlName="email"
          [formGroup]="preCadastro"
          >
        </fpt-input-text>
        <fpt-input-text
          titulo="Nome curso" 
          controlName="curso"
          [formGroup]="preCadastro"
          >
        </fpt-input-text>
        <fpt-input-select
          titulo="Area Curso *"
          [opcoes]="areaCurso"
          controlName="areaCurso"
          [formGroup]="preCadastro"
          >
        </fpt-input-select>
        <fpt-input-number
          titulo="Semestre"
          controlName="semestre"          
          [formGroup]="preCadastro"
          >
        </fpt-input-number> 
        <fpt-input-textarea
          titulo="Sobre o curso"
          controlName="descricao"
          [formGroup]="preCadastro"
          >
        </fpt-input-textarea>       
        <fpt-input-number
          titulo="Valor da Mensalidade *"
          controlName="valorMensal"          
          [formGroup]="preCadastro"
          >
        </fpt-input-number>        
        <fpt-input-select
          titulo="Estudante ou Doador *"
          [opcoes]="tipoUsuario"
          controlName="tipoUsuario"
          [formGroup]="preCadastro"
          >
        </fpt-input-select>
        
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>