<mat-toolbar class="app-title">Criar Campanha</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" *ngIf="criarCampanha" >
    <form autocomplete="off" novalidate [formGroup]="criarCampanha" (ngSubmit)="submit()" (ngReset)="reiniciarForm()">
      <mat-card-content>
        <fpt-input-text
          titulo="Nome *"
          controlName="titulo"
          [formGroup]="criarCampanha"
          >
        </fpt-input-text>
        <fpt-input-text
          titulo="Foto"
          controlName="urlFoto"
          [formGroup]="criarCampanha"
          >
        </fpt-input-text>
        <fpt-input-date
          titulo="Previsão de Graduação *"
          controlName="dtLancamento"
          [formGroup]="criarCampanha"
          >
        </fpt-input-date>       
        <fpt-input-select
          titulo="Area Curso *"
          [opcoes]="generos"
          controlName="genero"
          [formGroup]="criarCampanha"
          >
        </fpt-input-select>
        <fpt-input-textarea
          titulo="Sobre o curso"
          controlName="descricao"
          [formGroup]="criarCampanha"
          >
        </fpt-input-textarea>
        <fpt-input-number
          titulo="Nota para seu curso *"
          controlName="nota"
          step="0.1"
          [formGroup]="criarCampanha"
          >
        </fpt-input-number>
        <fpt-input-number
          titulo="Valor da Mensalidade *"
          controlName="valorMensal"          
          step="0.1"
          [formGroup]="criarCampanha"
          >
        </fpt-input-number>        
        <fpt-input-text
          titulo="rede social (opcional)" 
          controlName="urlIMDb"
          [formGroup]="criarCampanha"
          >
        </fpt-input-text>
        
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>